<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Show Real Time Graph</title>
        <%-include('part/header.ejs')%>
        <%-include('part/dataProcessing.ejs')%>
        <%-include('part/socket.ejs')%>
        <style>
            .graph {
                display : inline-block;
                width   : 900px;
                height  : 450px;
            }
            .result {
                display         : inline-block;
                text-align      : center;
                width           : 900px;
                font-size       : 200px;
                vertical-align  : top;
            }
        </style>
        <script>
            graph = {};
        </script>
    </head>
    <body>
        <div style='height:900px; text-align: center;'>
            <div>
                <span class='graph' id="section1Graph"></span>
                <span class='graph' id="section2Graph"></span>
            </div>
            <div style='height:355px;'>
                <span class='graph' id="section3Graph"></span>
                <span class='result' id="predictResult">0</span>
            </div>
        </div>
        <%-include('part/chart1.ejs')%>
        <%-include('part/chart2.ejs')%>
        <%-include('part/chart3.ejs')%>
    </body>
</html>
